.cart-btn-container {
  display: grid;
  place-content: center;
  text-align: center;

  .cart-btn {
    font-weight: 600;
    position: relative;
    top: -1.25rem;
    border: 1px solid var(--rose-400);
    outline: none;
    width: 9rem;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 20px;

    .icon,
    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .quantity-control {
      display: flex;
      justify-content: space-between;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      align-items: center;

      .decrement,
      .increment {
        border: 1px solid var(--rose-50);
        border-radius: 50%;
        height: 16px;
        width: 16px;
        display: grid;
        place-content: center;
        background: none;
      }

      .decrement:hover,
      .increment:hover {
        background-color: var(--rose-50);
      }

      img {
        margin: auto;
        display: block;
      }
    }

    .icon {
      margin-right: 0.5rem;
    }

    .num-of-item {
      color: var(--rose-50);
    }
  }

  .cart-btn:hover {
    color: var(--clr-red);
    border: 1px solid var(--clr-red);
  }
}
