.dessert-grid {
  .dessert-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .dessert-card {
      .dessert-image {
        img {
          max-width: 50%;
          height: auto;
        }
      }
    }
  }
}
